@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
canvas,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  overscroll-behavior: none;
  font-family: "Inter var", sans-serif;
}

*::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h1 {
  letter-spacing: -0.05em;
  line-height: 0.7em;
  margin: 0;
  padding: 0;
}
.leva-c-kWgxhW {
  display: none !important;
}

.cl-userButtonPopoverCard {
  height: 25%;
}

.cl-internal-b3fm6y {
  background: #303764;
}
.canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cl-internal-b3fm6y {
  background-image: url("https://utfs.io/f/b349ba15-753f-4613-a85c-350e9bf56b56-exb0im.png");
  background-size: contain; /* Hoặc có thể sử dụng 'contain' hoặc kích thước cụ thể */
  background-repeat: no-repeat; /* Ngăn lặp lại ảnh */
  background-position: start center; /* Căn giữa ảnh */
  /* Các thuộc tính CSS khác để tùy chỉnh nền */
  width: 550px;
  border: none;
  height: 366px;
  margin: 175px 2px 15px 0px;
  transform: rotate(-90deg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-color: transparent;
}
.cl-headerSubtitle {
  text-color: gray;
}
.cl-internal-v37v88 {
  transform: rotate(90deg);
  margin: 30px 0px 0px -55px;
}
.cl-internal-uf3377 {
  transform: rotate(90deg);
  margin: -70px 0px 15px 0px;
}
.info {
  transform: translate3d(-50%, -50%, 0);
}

.accent {
  -webkit-text-stroke: 1px black;
  color: transparent;
}
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #ffffff !important;
  height: 10px !important;
  width: 10px !important;
}
.hoverText {
  transition: 0.35s font-weight, 0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(238, 242, 255);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}
.mySwiper .swiper-slide-thumb-active {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  transition-duration: 800ms;
  transition-property: all;
  transition-timing-function: ease;
}
.pswp__img {
  object-fit: contain;
  background: #ffffff !important;
}
.pswp__item,
pswp__scroll-wrap {
  background: #ffffff !important;
}
